*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family:'Quicksand' ,'Poppins', sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: rgb(25, 26, 27);
}

header, main, footer {
    width: 100%;
    max-width: 1350px; 
    margin: 0 auto; 
}

.profile-card {
    overflow: hidden;
}

header .head {
    display: flex;
    position: relative;
    height: 500px;
    background-image: url('assets/thousand sunny.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -0;
}

.header-background {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.705); 
    z-index: -0; 
}

.title-img img {
    display: flex;
    position: absolute;
    left: 50%;
    transform: translateX(-50%) translateY(60%);
    width: 200px; 
    height: 200px; 
    border-radius: 50%;
    border: 3px solid #fff;
    z-index: 999999;
}

.title-img h1 {
    display: flex;
    position: absolute;
    color: white;
    bottom: 7rem; 
    left: 50%;
    transform: translateX(-50%) translateY(50%);
    width: 600px; 
    justify-content: center;
    z-index: 999999;
}

main .info-me {
    padding: 3.5rem;
    background-color: rgb(25, 26, 27);
}

main .content {
    max-width: 1200px;
    width: 100%;
    display: flex;
    background: rgb(1,3,5);
    background: linear-gradient(180deg, rgb(25, 26, 27) 30%, rgba(10,52,104,1) 100%); 
    padding: 3rem;
    padding-block-start: 6rem;
    margin-block-start: 0rem;
    border-radius: 3rem;
}

main .description-info {
    padding-inline-start: 3rem;
}

.description-info p {
    font-size: 1.2rem;
    line-height: 1.7rem;
}

.half-underline {
    position: relative;
    display: inline-block;
}

.half-underline::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border-bottom: 3px solid white;
}

.info tr td {
    padding: 10px;
    padding-inline-end: 5rem;
    padding-inline-start: 2rem; 
}

.info th {
    text-align: start;
    color: #83bb4f;
    font-family: 'Sedan', 'Poppins', sans-serif;
}

.social ul {
    display: flex;
    padding: 0;
    margin: 0;
    justify-content: center;
}

.social ul li {
    list-style: none;
    margin: 0.8rem;
}

.social li a {
    color: white;
    font-size: 1.8rem;
    transition: all ease-in-out 0.2s;
}

.social li a:hover {
    color: #83bb4f;
}

hr {
    margin-block-start: 3rem;
    height: 0.4rem;
    width: 100%;
    background-color: white;
    border: none;
    border-radius: 1rem;
}

hr.sc {
    margin-block-start: 0;
    width: 50%;
}

hr.thr {
    margin-block-start: 0;
    width: 25%;
}

.education {
    background: rgb(1,3,5);
    background: linear-gradient(180deg,  rgb(25, 26, 27) 30%, rgba(10,52,104,1) 100%); 
    padding-block-start: 3rem;
}

.my-edu .edu-title h1 {
    text-align: center;
    padding-block-start: 5rem;
}

.edu-title h1 .half-underline::after {
    bottom: -0.5rem;
    width: 130%;
}

.edu-content {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 5rem;
    padding-block-start: 3rem;
    padding-block-end: 3rem;
    justify-content: space-around;
    text-align: center;
    padding-block-end: 30rem;
}

.timeline {
    position: relative;
    margin: 0;
    padding: 0;
}

.timeline::after {
    content: '';
    position: absolute;
    width: 5px;
    height: 60rem;
    background-color: #bcbcbc;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -2px;
    z-index: -0;
}

.timeline-item {
    position: relative;
    margin: 2rem 0;
}

#timeline-item1 {
    position: relative;
    top: 4.5rem; 
    left: 0.9rem; 
    border-top: 15px solid transparent; 
    border-bottom: 15px solid transparent; 
    border-left: 20px solid #00a782; 
    z-index: 1;
}

#timeline-item2 {
    position: relative;
    top: 36rem; 
    left: 0.9rem; 
    border-top: 15px solid transparent; 
    border-bottom: 15px solid transparent; 
    border-left: 20px solid #00a782; 
    z-index: 1; 
}

#timeline-item3 {
    position: relative;
    top: 18.5rem; 
    right: 0.8rem; 
    border-top: 15px solid transparent; 
    border-bottom: 15px solid transparent; 
    border-right: 20px solid #00a782;
    z-index: 1;
}

#timeline-item4 {
    position: relative;
    top: 46rem;
    right: 0.8rem; 
    border-top: 15px solid transparent; 
    border-bottom: 15px solid transparent; 
    border-right: 20px solid #00a782;
    z-index: 1; 
}

.edu-content .group {
    position: relative;
    flex-basis: 35%;
    padding: 5rem;
    margin-inline: 2rem;
    margin-block: 1rem;
    margin-block-end: 12rem;
    max-width: 450px;
    background-color: rgba(255, 255, 255, 0.815);
    box-shadow: -10px 10px 0 rgba(255, 255, 255, 0.712), 10px -10px 0 rgba(255, 255, 255, 0.616);
    border-right: 5px solid #252222;
    border-bottom: 3px solid #252222;
    color: rgb(0, 0, 0);
    padding: 2rem;
}

.group h3 {
    font-family: 'Poppins', 'Quicksand', sans-serif; 
    margin-block: 0; 
    color: rgba(10,52,104,1); 
    font-size: 1.6rem;
}

.group p { 
    margin-block-end: 0;
}

main .skill {
    background: rgb(1,3,5);
    background: linear-gradient(180deg,  rgba(10,52,104,1) 0%, rgb(25, 26, 27) 62%);
    padding-block-start: 5rem;
    padding-block-end: 6rem;
}

.skill .title-skill .half-underline::after {
    bottom: -0.5rem;
    width: 140%;
}

.skill .content-skill {
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 3rem;
}

.content-skill .group-skill {
    max-width: 350px;
    margin: 2rem;
    padding: 2rem;
    background: rgb(1,3,5);
    background: linear-gradient(180deg,  rgba(10,52,104,1) -20%, rgb(25, 26, 27) 90%);
    border-radius: 10%;
    color: white;
    transition: all ease-in 0.2s;
}

.group-skill:hover {
    box-shadow: 10px 10px 10px black;
}

.group-skill h3 {
    font-family: 'Poppins', 'Sedan', sans-serif;
}

footer .foot {
    position: relative;
    background-image: url('assets/thousand\ sunny-foot.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 1;
}

footer .foot::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.521);
    z-index: -1;
}

.foot .my-foot {
    text-align: center;
    color: white;
    z-index: -1;
    opacity: 0.8;
}

.foot .foot-background {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.705); 
    z-index: -0;
}

.social-foot ul a {
    color: white;
    margin: 1rem;
    font-size: 1.5rem;
    transition: all ease-in 0.2s ;
}

.social-foot ul a:hover {
    color: rgba(10,52,104,1);
}

@media screen and (max-width: 1160px){
    .info-me .content .my-img img {
        width: 200px;
    }

    .my-img .social ul li {
        margin-inline: 0.8rem;
    }

    .social ul li a {
        font-size: 1.5rem;
    }

    .description-info p {
        max-width: 600px;
    }

    @media screen and (max-width: 1060px){
        .info tbody {
            font-size: 1rem;
        }

        .info tbody tr td {
            padding-inline: 1rem;
        }
    }
}

@media screen and (max-width: 872px){
    main .content {
        flex-direction: column;
        text-align: center;
    }

    .info-me .content .my-img {
        text-align: center;
    }

    main .description-info {
        padding-inline-start: 0;
    }

    .description-info .title-info {
        margin-inline: auto;
        flex-direction: column;
    }

    .description-info p {
        margin-inline: auto;
    }

    .description-info .info {
        text-align: start;
        margin-inline: auto;
    }
}

@media screen and (max-width: 620px){
    main .info-me {
        padding: 2rem ;
    }

    .info tbody tr {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-block-end: 0;
    }

    .info tbody tr th {
        text-align: center;
    }

    .info tbody tr td {
        margin-block-end: 2rem;
    }
}
